<h1>Hellanzb Server Info</h1>
<div class='quote' style='float:left'>
  <div class='stats'>
    Queued MB: <b><%= @hella.queued_mb %></b>
  </div>
</div>
<div class='quote' style='float:left'>
  <div class='stats'>
   Paused: <b><%= @hella.is_paused %></b>
  </div>
</div>
<div class='quote' style='float:left'>
  <div class='stats'>
   Version: <b><%= @hella.version %></b>
  </div>
</div>
<div class='quote' style='float:left'>
  <div class='stats'>
   Segments Downloaded: <b><%= @hella.total_dl_segments %></b>
  </div>
</div>
<div class='quote' style='float:left'>
  <div class='stats'>
    Percent Complete: <b><%= @hella.percent_complete %>%</b>
  </div>
</div>
<div class='quote' style='float:left'>
  <div class='stats'>
    Max Rate: <b><%= @hella.maxrate %></b>
  </div>
</div>
<div class='quote' style='float:left'>
  <div class='stats'>
    ETA: <b><%= secs_to_time(@hella.eta) %></b>
  </div>
</div>
<div class='quote' style='float:left'>
  <div class='stats'>
    Downloaded MB: <b><%= @hella.total_dl_mb %></b>
  </div>
</div>
<div class='quote' style='float:left'>
  <div class='stats'>
    Transfer Rate: <b><%= @hella.rate %></b>
  </div>
</div>
<div class='quote' style='float:left'>
  <div class='stats'>
    Hostname: <b><%= @hella.hostname %></b>
  </div>
</div>
<div class='quote' style='float:left'>
  <div class='stats'>
    Downloaded NZBs: <b><%= @hella.total_dl_nzbs %></b>
  </div>
</div>
<div class='quote' style='float:left'>
  <div class='stats'>
    Downloaded Files: <b><%= @hella.total_dl_files %></b>
  </div>
</div>
<div class='quote' style='float:left'>
  <div class='stats'>
    Uptime: <b><%= @hella.uptime %></b>
  </div>
</div>
