<h1>Hellanzb Server Info</h1>
<% @hella.status.each do |stat| %>
    <% if !stat[0].eql?("queued")  and !stat[0].eql?("currently_downloading") and 
    !stat[0].eql?("currently_processing") and !stat[0].eql?("log_entries") and 
    !stat[0].eql?("config_file") then %>
    <div class='quote' style='float:left'>
      <div class='stats'>
        <%= stat[0].split("_").join(" ").capitalize %>:
        <% if stat[0].to_s.downcase.eql?('time') then %>
          <b><%= stat[1].hour %>:<%= stat[1].min %>:<%= stat[1].sec %></b>
        <% elsif stat[0].to_s.downcase.eql?('eta') then %>
          <b><%= secs_to_time(stat[1]) %></b>
        <% else %>
         <b><%= stat[1] %></b>
        <% end %>
      </div>
    </div>
    <% end %>
<% end %>
