
<div class='item' id='progress_item'>
  <%= partial "hellanzb_manager/current_download_progress" %>
</div>
<div class='item'>
  <%= partial "hellanzb_manager/currently_processing" %>
</div>
<div class='item' id='queue_list'>
    <%= partial "nzb_manager/queue_list" %>
</div>
<div class='item' id='hellanzb_stats'>
  <%= partial "hellanzb_manager/server_info" %>
</div>
<div style='clear:both'></div>
<div class='item'>
  <%= partial "nzb_manager/get_from_url" %>
</div>
<div class='item'>
  <%= partial "nzb_manager/get_from_newzbin" %>
</div>

<script type='text/javascript'>
  updateStats();
</script>
